body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    text-align: center;
    background-color: #f0f0f0;
    color: #333232;
    padding: 1rem 0;
}

nav {
    text-align: center;
    margin: 1rem 0;
}

nav button {
    background: #555555;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

nav button:hover {
   opacity: 0.5;
   border: solid 2px #333232;
}

.main {
    padding: 1rem;
    width: 95%;
}

.agenda {
    display: none;
}

.agenda.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background: #555555;
    color: white;
}

td:nth-child(1) {
    font-weight: bold;
}

.hidden {
    display: none;
}
